.item-page {
  display: flex;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  margin-bottom: 50px;
}

.item-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: left;

}

.item-title {
  padding-top: 150px;
  font-size: 4rem;
  margin-bottom: 10px;
  text-shadow: 0 10px 30px rgba(255, 0, 0, 0.5);
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 80px;


}

.item-page-item {
  background-size:cover;
  width: 450px;
  height: 500px;
  background-position: center;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgb(58, 58, 58);
  background-repeat: no-repeat;
  border: 2px solid rgb(61, 61, 61);
  cursor: pointer;
}


.itempage-gallery-title {
  text-align: center;
  margin: 50px 0;
  font-size: 3rem;
  background-color: rgb(32, 1, 1);
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  text-shadow: 0 10px 30px rgba(255, 255, 255, 0.644);
  font-family: CeraProBold;
  padding: 50px 500px;
}

.react-responsive-modal-modal {
  padding: 5px !important;
  padding-bottom: 0;
  box-shadow: 0 10px 30px rgba(255, 255, 255, 0.295) !important;
  background-color: transparent;
}

.react-responsive-modal-closeButton {
  background-color: rgb(0, 0, 0) !important;
  border-radius: 100%;
  transition: all .5s;

  &:hover {
    transform: scale(1.05);
  }
}

.item-page-item {
  will-change: transform, opacity;
}


.react-responsive-modal-closeButton {
  background-color: transparent !important;
  border: none !important;
}

.itempage-gallery-title span {
  text-shadow: 0 10px 30px rgba(255, 0, 0, 0.651);
}

.itempage-gallery {
  display: flex;
  flex-wrap: wrap;
  padding: 0 150px;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-bottom: 50px;

}

.item-description {
  font-size: 1.5rem;
  text-align: left;
  margin-bottom: 50px;
  font-family: CeraLight;
  font-weight: bold;
  color: rgb(255, 255, 255);

}


.item-details h3 {
  font-size: 1.5rem;
  margin-top: 20px;
  font-family: CeraLight;
  text-shadow: 0 10px 30px rgba(252, 0, 0, 0.5);
}

.item-details p {
  margin: 15px;
  font-size: 1.2rem;
  font-family: CeraLight;
  font-weight: 1;
}

.item-image img {
  max-width: 100%;
  border-radius: 8px;
  filter: drop-shadow(0 10px 30px rgba(255, 255, 255, 0.3));
  transform: scale(.7);
}

.item-image {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 40%;
  background: rgb(36, 36, 36);
  border-radius: 50px;
  border-right: 8px solid red;
}

.item-highlight {
  font-size: 2.5rem;
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'CeraProBold', sans-serif;
  position: relative;
  text-align: left;
  margin-bottom: 20px;
  text-shadow: 0 10px 30px rgba(255, 255, 255, 0.5);
}


.item-details {
  margin-bottom: 100px;
}

.item-highlight::after {
  content: '';
  display: block;
  width: 300px;
  height: 3px;
  background-color: #ff0000;
  margin-top: 10px;
}

.item-description-block {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #ffffff;
  margin-bottom: 30px;
}

.item-description-block p {
  font-family: CeraLight;
  font-weight: 1;
}

.item-description-block .highlight {
  color: #ff0000;
  font-weight: bold;
}

.buttoncontacts {
  font-size: 20px;
  background-color: rgb(255, 0, 0);
  cursor: pointer;
  border-radius: 20px;
  padding: 15px;
  &:hover {
      svg {
          transition: all .5s ease-out;
          rotate: -90deg;
      }
  }
}

.buttoncontacts svg {
  transition: all .5s ease;
}

.buttoncontainer {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.buttoncontacts a {
  display: flex;
  gap: 15px;
  align-items: center;
}

@media (max-width:768px) {
  .item-title {
    font-size: 2rem;
    width: 100%;
    text-align: center;
  }

  .item-page {
    width: 95%;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .item-content {
    text-align: center;
  }

  .item-image {
    width: 90%;
  }

  .item-image img {
    transform: scale(1);
  }

  .item-description {
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
  }

  .item-highlight {
    font-size: 2rem;
    text-align: center;
  }

  .item-highlight::after {
    width: 100%;
  }

  .itempage-gallery-title {
    padding: 10px;
    font-size: 2rem;
  }

  .itempage-gallery {
    padding: 0 10px;
  }
}