.second-container {
    width: 100%;
    height: 100vh;
    background-color: rgb(6, 0, 0);
    border-radius: 50px;
    border: 2px solid gray;
}
.second-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.h1second-main {
    font-size: 50px;
    font-family: CeraLight;
    margin-bottom: 134px;
    align-self: flex-start;
    margin-left: 99px;
}

.second-left {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    position: relative;
}

.second-left-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: 70px;
    padding: 15px;

}
.second-left-bottom p {
    font-size: 25px;
    padding: 15px;
    border-left: 5px solid red;

}

.second-left-bottom h1 {
    font-size: 27px;
    width: 100%;
}

.buttontechnologies1 {
    font-size: 20px;
    background-color: rgb(255, 5, 5);
    cursor: pointer;
    border-radius: 20px;
    padding: 15px;
    align-items: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 10%;
    left: 0;
    margin-left: 5%;
    &:hover {
        svg {
            transition: all .5s ease-out;
            rotate: -90deg;
        }
    }
  }

  .buttontechnologies1 a {
    display: flex;
    gap: 15px;
    align-items: center;
    flex-direction: row;
    align-self: center;
  }



.second-left-bottom-2 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: 102px;
    border-left: 5px solid red;
    padding: 15px;
}

.second-left-bottom-2 h1 {
    margin-bottom: 33px;
}

.second-left-bottom-2 p {
    margin: 0;
    border-left: 0;
    padding: 0;
}

.second-right {
    background-image: url(../images/innovationimage11.png);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 45%;
    height: 100vh;
}

.buttontechnologies1 svg {
    transition: all .5s ease;
  }

@media (max-width:768px) {
    .h1second-main {
        margin: 0;
        font-size: 30px;
        width: 100%;
        text-align: center;
    }

    .second-content {
        margin: 0;
        display: flex;
        width: 90%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 25px;
        padding-top: 50px;
    }
    .second-container {
        width: 100%;
        height: 100%;
    }

    .second-left {
        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .second-left-bottom p{
        font-size: 18px;
        width: 100%;
        margin: 0;
        text-align: center;
        padding: 0;
        margin-top: 15px;
        border: 0;

    
    }
    .second-right {
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 55vh;
        background-size: 130%;
        margin-left: 30px;
        margin-top: 50px;
    }

    .span1 {
        left: 4%;
        margin-bottom: 120px;
        height: 150px;
        display: contents;
    }
    .span2 {
        display: contents;
    }
    .second-left-bottom-2{
        margin: 0;
        border: 0;
        padding: 0;
        margin-bottom: 15px;
    }
    .second-left-bottom-2 p{
        text-align: center;
        padding-top: 0;
    }
    .second-left-bottom-2 h1{
        text-align: center;
        padding-top: 50px;
    }

    .buttontechnologies1 {
        margin: 0 auto;
        position: relative;
        font-size: 15px;
        padding: 9px;
        border-radius: 10px;
    }

    .buttontechnologies1 svg {
        transition: all .5s ease;
      }

    .second-left-bottom {
        display: flex;
        flex-direction: column;
        margin: 25px 0 0;
        padding: 15px;
        border-left: 5px solid red;
    }
}