.third-container {
    padding: 0 150px;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.third-products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.products-title1 {
    font-size: 55px;
    margin-top: 50px;
    padding-left: 15px;
    text-shadow: 0 10px 30px rgba(255, 255, 255, 0.247);
    word-wrap: break-word;
    font-family: CeraLight;
    letter-spacing: 2px;
    border-left: 5px solid red;
}

.third-products span {
    background-color: red;
    width: 5px;
    height: 70px;
    margin-top: 50px;
    margin-right: 20px;
}

.productspan {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    cursor: default;
    &:hover {
        span {
            transition: .3s;
            opacity: 0;
        }
    }
}

.buttonmore {
    font-size: 20px;
    background-color: rgb(255, 0, 0);
    cursor: pointer;
    border-radius: 20px;
    padding: 15px;
    align-items: center;
    &:hover {
        svg {
            transition: all .5s ease-out;
            rotate: -90deg;
        }
    }
  }

  .buttonmore a {
    display: flex;
    gap: 15px;
    align-items: center;
  }

  .buttonmore svg {
    transition: all .5s ease;
  }


.item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 300px;
    height: 450px;
    display: flex;
    cursor: pointer;
    flex-direction: column-reverse;
    align-items: center;
    font-size: .7rem;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 50px;
    padding: 15px;
    font-weight: 1;
    font-family: CeraLight;
    box-shadow: 0 10px 30px rgba(95, 95, 95, 0.3);
}

.item p {
    padding-bottom: 15px;
}

.items {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 100px;
    flex-wrap: wrap;
    padding-top: 50px;
}

@media (max-width:768px) {
    .productspan {
        text-align: center;
        width: 100vw;
    }
    .productspan h1 {
        padding: 0;
        padding-top: 50px;
        font-size: 45px;
        font-weight: 1;
        font-family: CeraLight;
    }

    .third-container {
        padding: 0;
    }

    .item {
        margin: 0;
        width: 250px;
        height: 350px;
        background-size: 75% !important;
    }

    .products-title1 {
        text-align: center;
        font-size: 3rem;
    }

    .items {
        display: flex;
        justify-content: center;
        gap: 25px;
        margin-bottom: 55px;
    }

    .third-container {
        height: 100%;
    }
}
