@font-face {
    font-family: CeraLight;
    src: url(../fonts/CeraProLight.ttf);
}


li {
    list-style-type: none;
    font-size: 1rem;
    cursor: pointer;
    height: 100%;
    transition: all .3s;
    font-family: CeraLight;
    font-weight: 1;
    padding: 28px 0 0 0;
    z-index: 9999;
    text-shadow: 0 4px 8px rgba(255, 255, 255, .5);
}

li:hover {
    opacity: 0.7;
    color: rgb(218, 217, 217);
    transition: opacity .3s all .3s;
}
  

ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 80px;
    width: 106vw;
}

.header {
    z-index: 9999;
    position: fixed;
}

.logo {
    font-size: 48px;
    padding-bottom: 5px;
    font-family: Fank;
    padding-top: 16px;
    letter-spacing: 2px;
    border-top:5px solid red;
    border-radius: 50%;
    text-shadow: 0 10px 30px rgba(255, 0, 0, .3);
    &:hover {
        opacity: 1;
        transform: scale(1.01);
        transition: all .3s ease-out;

    }
}


:any-link {
    text-decoration: none;
    color: white;
}


@font-face {
    font-family: Fank;
    src: url(../fonts/Fahkwang-Bold.ttf);
}

.menuall {
    display: none;
    transition: all 0.3s ease;
}

.fullscreen-menu {
    display: none;
    visibility: hidden;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.header ul li select {
    font-family: Cera;
    font-size: 18px;
    border-radius: 8px;
    background-color: transparent;
    padding: 5px;
    top: 27%;
    color: white;
    border: none;
    position: absolute;
    right: 6.7%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;

}

.header ul li option {
    color: rgb(255, 255, 255);
    background-color: rgba(34, 34, 34, 1);
    border: 0;

    &:active {
        border: 0;
    }
}



@media (max-width:768px) {


    * {
        box-sizing:content-box;
    }
    .imagep {
        font-size: 27px;
        top: 3%;
        margin: 0;
        left: 0;
        width: 95%;
        border-top: 5px solid red;
        border-bottom: 5px solid red;
        backdrop-filter: blur(2px);
        font-size: 33px;
        text-align: center;
        border-left: 0;
        padding: 11px;
        border-left: none;
        text-shadow: 0 10px 30px white;

    }
    
    .arrow {
        display: none;
    }

    .imagep::before {
        display: none;
    }

    .red1 {
        height: 150px;
        width:5px;
        left: -3%;
        position: absolute;
        display: contents;
    }
    li {
        display: none;
    }

    .logo {
        display:flex;
        font-size: 40px;
    }

    ul {
        justify-content: center;
        padding: 0;
        align-items: center;
    }

    .menu {
        position: absolute;
        right: 0;
        bottom: 0;
        top: 33%;
        right: 0%;
    }

    .menuall {
        display: flex;
        position: absolute;
        right: 15%;
        top: 58%;
        font-size: 40px;
        z-index: 100;
        align-items: center;
    }

    .header ul {
        position: fixed;
        width: 100%;
    }
    
    .menuall svg {
        position: absolute;
        transition: opacity 0.5s ease, transform 0.5s ease;
    }
    
    .menuall .menu-icon {
        opacity: 1;
        transform: scale(1);
        visibility: visible;
    }
    
    .menuall .arrow-icon {
        opacity: 0;
        transform: scale(0.9);
        visibility: hidden;
    }
    
    .menuall.menu-open .menu-icon {
        opacity: 0;
        transform: scale(0.9);
        visibility: hidden;
    }
    
    .menuall.menu-open .arrow-icon {
        opacity: 1;
        transform: scale(1);
        visibility: visible;
    }
    .menuall .menu-icon {
        opacity: 1;
        transform: scale(1);
        visibility: visible;
    }

    .fullscreen-menu {
        position: fixed;
        display: flex;
        height: 100%;
        background-color: rgba(14, 13, 13, 0.99);
        color: white;
        z-index: 54;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transform: scale(0.95);
        transform: translateX(1000px);
        transition: opacity 0.5s ease, transform 0.5s ease;
        visibility: visible;
    }
    
    .fullscreen-menu.open {
        opacity: 1;
        transform: scale(1);
        transform: translateX(0px);
    }
    
    .fullscreen-menu ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
        align-items: center;
        z-index: 555;

    }
    
    .image {
        background-position: center !important;
        background-size: cover !important;
        background-image: url(../images/main-image.jpg);
        background-attachment: scroll;
    }

    .scrolltotop {
        position: fixed;
        font-size: 50px;
    }

    .red1 {
        height: 120px;
    }

    .fullscreen-menu li {
        font-size: 25px;
        font-family: CeraLight;
        display: flex;
        justify-content: center;
        width: 100%;
        cursor: pointer;
        &:hover {
            opacity: 0.7;
            color: rgb(218, 217, 217);
            transition: all 0.3s;
        }
    }
      .header {
        z-index: 55;
        position: fixed;
      }

      .fullscreen-menu select {
        position: absolute;
        border-radius: 20px;
        z-index: 555;
        top: 0;
        background-color: rgb(61, 61, 61);
        margin-top: 20%;
        color: rgb(255, 255, 255);
        font-family: Cera;
        font-size: 18px;
        padding: 5px 15px;
        outline: none;
        border: none;
      }

      .fullscreen-menu select option {
        color: rgb(255, 255, 255);
      }

}
