.careers-image {
    background-image: url(../images/careersmain-image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    filter: brightness(40%);
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 0;
    
}

.careers-imagep {
    position: absolute;
    font-size: 5rem;
    right: 0%;
    text-align: center;
    gap: 10px;
    top: 0;
    margin-top: 33%;
    z-index: 11;
    transition: all 1s;
    animation: fadeIn 1.5s ease forwards;
    border-right: 8px solid rgb(255, 0, 0);
    text-shadow: 0 10px 30px;
    padding: 50px;
    cursor: pointer;
    background-color: transparent;
    overflow: hidden;
    font-family: Cera;
    color: red;
    display: flex;
    flex-direction: column;
    &:hover {
        color: white;
    }
}

.careers-imagep p {
    color: white;
    font-size: 3rem;
    font-family: CeraLight;
    font-weight: 1;
}

.careers-imagep::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 8px;
    background-color: rgb(255, 0, 0);
    transition: all 0.5s ease;
    z-index: -1;
    &:hover {
        color: white;
    }
}
.careers-imagep:hover::before {
    width: 100%;
    z-index: -1;
}


.careers-title {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 173px;
    margin-bottom: 300px;
    font-family: CeraLight;
    font-size: 2.5rem;
    padding: 0 150px;
    text-shadow: 0 10px 30px rgba(255, 255, 255, .3);
}

.careers-container {
    padding: 0 150px;
    display: flex;
    flex-direction: column;
    width: 100%;
}


.careers-container h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    font-family: CeraLight;
    font-size: 50px;
    padding-bottom: 20px;
    text-shadow: 0 10px 30px rgba(255, 0, 0, .5);
}


.careers-item h2 {
    margin-bottom: 25px;
    margin-top: 10px;
    font-size: 35px;
    font-family: CeraLight;
    text-shadow: 0 10px 30px rgba(255, 255, 255, .2);
}

.careers-item p {
    font-size: 20px;
    width: 65%;
    line-height: 1.8;
    font-family: CeraLight;
    font-weight: 1;
}

.careers-icon {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    box-shadow: 0 10px 30px rgba(255, 255, 255, .2);
}


.careers-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 99px;
    width: 50%;
}

.careers-title span {
    color: red;
}

.careers-container-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: rgb(26, 25, 25);
    border-radius: 40px;
    padding: 50px;
}

.careers-title-end {
    margin-bottom: 100px;
    font-size: 32px;
    font-family: CeraLight;
    font-weight: 1;
    padding: 70px 350px;
    text-align: center;
    text-shadow: 0 10px 30px rgba(255, 0, 0, .5);

}

.careers-title-end span {
    color: red;
}


@media (max-width: 768px) {
    .careers-imagep h1 {
        font-size: 3rem;
    }

    .careers-imagep p {
        font-size: 2rem;
        color: white;
    }

    .careers-imagep {
        right: 15%;
        left: 0%;
        padding: 11px;
        backdrop-filter: blur(2px);
        margin-top: 90%;
        font-size: 3rem;
        border-top: 5px solid red;
        border-bottom: 5px solid red;
        width: 95%;
        border-left: 0;
    }

    .careers-imagep::before {
        display: contents;
    }

    .careers-image {
        background-size: cover !important;
        background-position: 35%;
        background-image: url(../images/careersmain-image.jpg);
        background-attachment: scroll;
    }

    .careers-container {
        padding: 0;
    }

    .careers-title {
        padding: 0 15px;
    }

    .careers-title p {
        font-size: 1.8rem;
    }

    .careers-container h1 {
        font-size: 2rem;
        width: 100%;
        text-align: center;
    }

    .careers-container-item {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 95%;
        padding: 50px 0;
        margin: 0 auto;
    }

    .careers-item {
        text-align: center;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 95%;
    }

    .careers-icon {
        align-self: center !important;
        margin-bottom: 20px;
    }

    .careers-item p {
        padding-left: 0;
        padding: 0 !important;
        text-align: center !important;

    }

    .careers-title-end {
        padding: 0 15px;
        margin-top: 100px;
        font-size: 1.5rem;
    }

    .careers-item h2 {
        text-align: center !important;
    }
}


