.aboutsecond-container {
    padding: 0 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 110px;
}

.aboutsecond-container {
    color: #fff;
    padding: 40px;
    text-align: center;
  }
  
  .aboutsecond-header h1 {
    font-size: 3.1rem;
    margin-bottom: 50px;
    font-family: CeraLight;
    font-weight: 1;
    text-shadow: 0 10px 30px rgba(255, 0, 0, .4);
    border-left: 5px solid red;
    padding-left: 15px;
  }
  
  .aboutsecond-content {
    display: flex;
    max-width: 75%;
    margin: 0 auto;
    flex-direction: column;
  }
  
  .aboutsecond-card1 {
    border-radius: 20px;
    text-align: center;
    transition: all .3s;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    background-color: rgb(39, 1, 1);
    
  }

  .aboutsecond-card2 {
    border-radius: 20px;
    text-align: center;
    transition: all .3s;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(32, 32, 32);
  }

  .aboutsecond-card-description1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 50px;
  }

    .aboutsecond-card-description2 {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 0 50px;
    }
  
  .aboutsecond-card1 h2, .aboutsecond-card2 h2 {
    font-size: 30px;
    margin-top: 10px;
    font-family: CeraLight;
    font-weight: 600;
    border-bottom: 3px solid red;
    padding-bottom: 10px;
  }
  
  .aboutsecond-card1 p, .aboutsecond-card2 p {
    font-size: 16px;
    line-height: 1.5;
    font-family: CeraLight;
    font-weight: 1;
    margin-top: 10px;
  }


  .ourteam {
    border-left: 5px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 70%;
    margin-top: 150px;
  }
  .ourteam h1 {
    font-size: 35px;
    font-family: CeraLight;
    font-weight: 600;

  }
  .ourteam p {
    font-size: 18px;
    font-family: CeraLight;
    font-weight: 1;
    padding: 45px;
  }

  .aboutsecond-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 800px;
    height: 600px;
    border-radius: 20px;
  }
  
  @media (max-width:768px) {
    .aboutsecond-card1 {
      flex-direction: column;
    }

    .aboutsecond-card-description1 {
      width: 100%;
    }

    .aboutsecond-card-description1 p {
      margin-bottom: 20px;
      padding: 15px;
    }
    .aboutsecond-card-description2 p {
      margin-bottom: 20px;
      padding: 15px;
    }

    .aboutsecond-card-description2 {
      width: 100%;
    }
    .aboutsecond-image {
      width: 100%;
      height: 350px;
    }
    .aboutsecond-card2 {
      flex-direction: column;
      margin-bottom: 50px;
    }

    .aboutsecond-container {
      padding: 0;
    }

    .aboutsecond-header h1 {
      font-size: 2.8rem;
    }
    .aboutsecond-content {
      max-width: 95%;
    }

    .ourteam {
      margin: 0;
      width: 95%;

    }

    .ourteam p {
      width: 95%;

    }
}
  