.contacts-container {
    width: 100%;
    height: 100vh;
    padding: 150px 150px 0 ;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.contacts-left {
    width: 30%;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    border-left: 2px solid red;
}


.contacts-wrapper {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
    border-right: 2px solid red;
}
.contacts-left h1 {
    font-family: CeraLight;
    margin-bottom: 10px;
    font-size: 2rem;
    text-shadow: 0 10px 30px rgba(255, 255, 255, .2);
}

.contacts-left p {
    font-family: CeraLight;
    font-size: 25px;
    margin-bottom: 50px;
    font-size: 1.3rem;
}

.contacts-left p span {
    color: red;
}

.contacts-right {
    padding: 0 25px;
    display: flex;
    flex-direction: column;
}

.contacts-right-socials {
    display: flex;
    flex-direction: column;
}

.contacts-right-socials a {
    text-align: right;
    font-size: 25px;
    margin-bottom: 25px;
    font-family: CeraLight;
    font-weight: 1;
    transition: all .5s;
    &:hover {
        opacity: .8;
        transform: translateX(2px);
    }
}

.map {
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    align-items: center;
    gap: 15px;
}

.map h1 {
    font-family: CeraLight;
    font-weight: 1;
    text-shadow: 0 10px 30px rgba(255, 0, 0, .5);
    font-size: 2.5rem;
}

.map h1 span {
    color: red;
}

.contacts-right h1 {
    font-family: CeraLight;
    margin-bottom: 25px;
    text-align: right;
    text-shadow: 0 10px 30px rgba(255, 255, 255, .2);
}

.contacts-right svg {
    margin-right: 10px;
    background: linear-gradient(rgb(255, 0, 0),rgb(0, 0, 0));
    border-radius: 100%;
    padding: 2px;
}

iframe {
    border-radius: 20px;
    border: 5px solid rgb(65, 65, 65);
}

@media (max-width:768px) {
    .contacts-container {
        padding: 0;
        flex-direction: column;
        height: 100%;
        margin-bottom: 50px;
        margin-top: 150px;
        border: 0px;
        width: 95%;
        padding: 0 12px;
    }

    .contacts-right {
        justify-content: center;
        align-items: center;
        text-align: center;
        border-right: 0px;
    }


    .contacts-left {
        justify-content: center;
        align-items: center;
        padding: 0;
        width: 100%;
        border: 0px;
    }

    .contacts-left p {
        text-align: center;
    }
    .contacts-right-socials a {
        text-align: center;
        
    }

    .contacts-wrapper {
        flex-direction: column-reverse;
        gap: 50px;
        border: 0px;
    }
}