:root {
  color: rgba(255, 255, 255, 0.87);
  backdrop-filter: brightness(50%);
  height: 100%;
  font-family: Cera;
  padding: 0;
  margin: 0;
  overflow: auto;
  height: auto;
  scroll-behavior: smooth;
  background-image: url(./images/backgroundsite.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

html {
  width: 100%;
  height: 100vh;
  display: inline-block;
  scrollbar-width: thin;
  scrollbar-color: rgb(75, 74, 74) rgb(0, 0, 0);
  cursor: default;
  scroll-behavior: smooth;
}



p {
  font-family: Cera;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

@font-face {
  font-family: Cera;
  src: url(./fonts/CeraProRegular.ttf);
}

[data-scroll-container] {
  height: 100%;
}

[data-scroll] {
  opacity: 1;
  transform: translate3d(0, 0, 0);
  will-change: transform, opacity;
}